<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__col footer__col--first">

        <div class="widget js-widget widget--footer">
          <div class="widget__header">
            <h2 class="widget__title" >{{ 'footer.about' | translate }}</h2>
          </div>
          <div class="widget__content">
            <aside class="widget_text">
              <div class="textwidget">
                {{ 'footer.description' | translate }}


              </div>

            </aside>
          </div>
        </div>

      </div>
      <!-- end of block .footer__col-first-->
      <div class="footer__col footer__col--second" >

        <div class="widget js-widget widget--footer">
          <div class="widget__header">
            <h2 class="widget__title">{{ 'footer.social' | translate }}</h2>
          </div>
          <div class="widget__content">
            <div class="social social--footer"><a href="https://www.facebook.com/saheelha.Arabe" class="social__item"><i class="fa fa-facebook"></i></a><a href="#" class="social__item"><i class="fa fa-twitter"></i></a><a href="#" class="social__item"><i class="fa fa-google-plus"></i></a></div>
            <!-- end of block .social-footer-->
          </div>
        </div>

      </div>
      <!--end of block .footer__col-second-->
      <div class="footer__col footer__col--third">
        <br>
        <span class="footer__copyright">&copy; 2021 SAHEELHA. {{ 'footer.dest' | translate }}</span>
      </div>
      <!-- end of block .footer__col-third-->
      <div class="clearfix"></div>

      <!-- end of block .footer__copyright-->
    </div>
  </div>
</footer>
