<app-header></app-header>
<div class="site__main">
  <div class="widget js-widget widget--main">
    <div class="widget__content">
      <div class="datatable datatable--properties">
        <div class="datatable__wrap">
          <table class="js-properties-table datatable__table">
            <thead>
            <tr>
              <th class="datatable__head-1">{{ 'commande.photo' | translate }}</th>
              <th class="datatable__head-2">{{ 'commande.nom' | translate }}</th>
              <th class="datatable__head-3 datatable__head-sort">{{ 'commande.categorie' | translate }}</th>
              <th class="datatable__head-4 datatable__head-sort">{{ 'commande.status' | translate }}</th>
              <th class="datatable__head-5 datatable__head-sort">{{ 'commande.dlc' | translate }}</th>
              <th class="datatable__head-6 datatable__head-sort">{{ 'commande.quantite' | translate }}</th>
              <th class="datatable__head-7 datatable__head-sort">{{ 'commande.prix' | translate }}</th>
              <th class="datatable__head-8 datatable__head-sort">{{ 'commande.prixt' | translate }}</th>
              <th class="datatable__head-9 datatable__head-sort">{{ 'commande.dc' | translate }}</th>
              <th class="datatable__head-10">{{ 'commande.coupon' | translate }}</th>
              <th class="datatable__head-11"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let boutiques of boutique | paginate:{ id: 'listing_pagination',
              itemsPerPage: 3,
              currentPage: page,
              totalItems: totalRecords}" data-info="&lt;table class=&quot;table table--stripped&quot;&gt;&lt;tr&gt;&lt;td&gt;Bedrooms:&lt;/td&gt;&lt;td&gt;0&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Floor:&lt;/td&gt;&lt;td&gt;3&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Area:&lt;/td&gt;&lt;td&gt;12&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Status:&lt;/td&gt;&lt;td&gt;For sale &lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;/td&gt;&lt;td&gt;Price:&lt;/td&gt;&lt;td&gt; $402,000 &lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Commision:&lt;/td&gt;&lt;td&gt; 3% &lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;Credit:&lt;/td&gt;&lt;td&gt; $8,000&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;">
              <td class="datatable__cell-1"><img src="http://localhost:3000/produit/image/{{boutiques.produit.photo1}}" alt="Avatar" width="100" height="100"></td>
              <td class="datatable__cell-2">{{boutiques.produit.nom}}</td>
              <td class="datatable__cell-3"><strong> {{boutiques.produit.categorie}}</strong>
              </td>
              <td class="datatable__cell-4">{{boutiques.produit.status}}</td>
              <td class="datatable__cell-5">{{boutiques.produit.DLC}}</td>
              <td class="datatable__cell-6">{{boutiques.quantite}}</td>
              <td class="datatable__cell-7">{{boutiques.produit.prixavecremise}}</td>
              <td class="datatable__cell-8">{{boutiques.prixtotale}}</td>
              <td class="datatable__cell-9">{{boutiques.date}}</td>

              <td class="datatable__cell-10"> <button  type="submit" class="btn btn-blue" (click)="generatePdf(boutiques.id)"><i class="fa fa-file-pdf-o"></i></button>
                </td>
              <td class="datatable__cell-11">
                <button pButton type="button" label="Evaluer" (click)="ajouterEvaluation(boutiques.produit.boutique.id,boutiques.produit.id)" icon="pi pi-heart" class="p-button-secondary"></button>
                <br>
                <button pButton type="button" label="Supprimer" (click)="supprimerCommande(boutiques.id,boutiques.produit.id,boutiques.quantite,boutiques.produit.boutique.id )" icon="pi pi-trash" class="p-button-danger"></button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
        <div id="modal-datatable-detail" tabindex="-1" role="dialog" class="modal modal--datatable fade">
          <div role="document" class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br><br><br>
  <nav class="listing__pagination">
    <ul class="pagination-custom">
      <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </ul>
  </nav>


  <!-- BEGIN PAGINATION-->

  <!-- END PAGINATION-->

<br><br><br><br><br><br><br><br><br>

