<app-header></app-header>
<body class="agent_profile menu-default hover-default ">
  <div class="site-wrap js-site-wrap">
    <!-- BEGIN BREADCRUMBS-->
    <nav class="breadcrumbs">
      <div class="container">
        <ul>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Home</a></li>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Liste des boutiques</a></li>
          <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Détail produit</a></li>
        </ul>
      </div>
    </nav>


  </div>



  <div class="center">
    <div class="container">
      <div class="row">
        <div class="site site--main">


          <div class="site__main">
            <div class="widget js-widget widget--main">
              <div class="widget__content">
                <div class="pricing__row">

                  <div class="pricing__col3">
                    <div class="pricing__item">
                      <dl class="pricing__list">
                        <dt class="pricing__type">Standard</dt>
                        <dd class="pricing__total"><span class="pricing__summa">10</span><span class="pricing__currency">dt</span><span class="pricing__period">/1 moi</span></dd>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="aaa" required class="form-control">
                        </div>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="aa" required class="form-control">
                        </div>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="a" required class="form-control">
                        </div>
                        <img src="/assets/img/payments.png" width="260">
                      </dl>
                      <div class="pricing__actions">
                        <button class="pricing__button">Payer</button>
                      </div>
                    </div>
                  </div>
                  <div class="pricing__col3">
                    <div class="pricing__item">
                      <dl class="pricing__list">
                        <dt class="pricing__type">Premium</dt>
                        <dd class="pricing__total"><span class="pricing__favorite">forfait -10dt</span><span class="pricing__summa">20</span><span class="pricing__currency">dt</span><span class="pricing__period">/3 mois</span></dd>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="aaa2" required class="form-control">
                        </div>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="aa2" required class="form-control">
                        </div>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="a2" required class="form-control">
                        </div>
                        <img src="/assets/img/payments.png" width="260">
                      </dl>
                      <div class="pricing__actions">
                        <button class="pricing__button">Payer</button>
                      </div>
                    </div>
                  </div>
                  <div class="pricing__col3">
                    <div class="pricing__item">
                      <dl class="pricing__list">
                        <dt class="pricing__type">Gold</dt>

                        <dd class="pricing__total"><span class="pricing__favorite">forfait -20dt</span><span class="pricing__summa">100</span><span class="pricing__currency">dt</span><span class="pricing__period">/12 mois</span></dd>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="aaa1" required class="form-control">
                        </div>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="aa1" required class="form-control">
                        </div>
                        <div class="form-group form-group--col-6">

                          <input type="text" name="email" id="a1" required class="form-control">
                        </div>
                        <img src="/assets/img/payments.png" width="260">
                      </dl>
                      <div class="pricing__actions">
                        <button class="pricing__button">Payer</button>
                      </div>
                    </div>
                  </div></div>

              </div>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <div class="widget js-widget widget--sidebar widget--first-no-head">
            <div class="widget__header"><a class="widget__btn js-widget-btn widget__btn--toggle">Show profile</a>
            </div>
            <div class="widget__content">
              <!-- BEGIN WORKER PROFILE-->
              <div class="worker sidebar-advanced">
                <h3 class="worker__name">Pharmacie Amri Nejib</h3>
                <div class="worker__photo">
                  <img src="/assets/img/pharmacie.png" width="220">
                  <button class="worker__avatar-upload">Changer la photo de profil</button>
                </div>
                <nav class="worker__nav">
                  <ul>
                    <li><a href="my_listings.html">Profil Boutique</a></li>
                    <li><a href="my_profile.html">Mes produits</a></li>
                    <li><a href="my_profile.html">Paiement</a></li>
                  </ul>
                </nav>
                <!-- end of block .worker__nav-->
              </div>
              <!-- end of block .worker__item-->
              <!-- END WORKER PROFILE-->
            </div>
          </div>
          <div class="widget js-widget widget--sidebar widget--dark">


          </div>
        </div></div>
      <div class="clearfix"></div>
    </div>
    <!-- END CENTER SECTION-->
    <!-- BEGIN AFTER CENTER SECTION-->
    <!-- END AFTER CENTER SECTION-->


    <!-- BEGIN FOOTER-->
  </div></body>

