.cont{
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,40%);
}
.cont span{
  text-transform: uppercase;
  display: block;
}
.text1{
  color: black;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
.text2{
  font-size: 30px;
  color: #4c56b0;
}

@keyframes text {
 0%{
   color: black;
   margin-bottom: -40px;
 }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
}
